.about-info{
    background-color: rgba(9, 9, 9, 0.974);
    color: white;
    padding: 60px 20px;
    padding-bottom: 500px;
}

.about-info-cover{
    max-width: 1480px;
    margin: 0px auto;
}

.about-info h2{
    text-align: left;
    text-transform: uppercase;
}

.about-info-details {
    display: flex;
    text-align: left;
    gap: 60px;
    
}

.about-info-details p{
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
}

.about-info-left{
    flex: 1;
    border-left: 2px solid rgba(245, 245, 245, 0.64);
    padding-left: 10px;
    height: fit-content;
}

.about-info-left p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(245, 245, 245, 0.64);
}

.about-info-right{
    flex: 1;
}

.about-info-right-cover{
    border-left: 2px solid rgba(245, 245, 245, 0.64);
    padding-left: 10px;
    height: fit-content;
}

.about-info-right p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(245, 245, 245, 0.64);
}

.about-info-right-bottom {
    padding-top: 10px;
    margin-left: 10px;
    font-weight: 600;
    color: rgba(245, 245, 245, 0.64);
    border-bottom: 1px solid rgba(245, 245, 245, 0.64);
    max-width: fit-content;
    transition: .5s ease;
    cursor: pointer;
    font-size: 25px;
    letter-spacing: 3px;
}

@media screen and (max-width: 800px) {

    .about-info h2{
        font-size: 40px;
        max-width: 100vw;
    }

    .about-info-details{
        flex-direction: column;
    }

    .about-info-left{
        /* border-top: 1px solid rgba(245, 245, 245, 0.64); */
    }
}

@media screen and (max-width: 700px) {
    .about-info{
        padding-bottom: 300px;
        padding-top: 200px;
        margin-top: -30px;
    }
}

.about-info-right-bottom:hover{
    color: red;
    border-bottom: 1px solid red;
}

.about-img{
    /* width: 100vw; */
    max-width: 1480px;
    /* padding: 0px 20px; */
    margin: 0px auto;
    position: relative;
}


.about-img img{
    position: absolute;
    width: 95%;
    transform: translateY(-50%) translateX(3%);
    /* padding: 0px 20px; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.about-certified{
    text-align: left;
    padding: 60px 20px;
    background-color: #F3F3F3;
    padding-top: 500px;
}

.about-certified-cover{
    max-width: 1480px;
    margin: 0px auto;
}

.about-certified h2{
    line-height: 50px;
}

.about-certified-det{
    display: flex;
    align-items: flex-start;
    gap: 80px;
    padding-bottom: 60px;
}

.about-cert-left{
    flex: 1;
}

.about-cert-left {
    border-left: 1px solid black;
    padding-left: 10px;
}

.about-cert-logo{
    flex: 1;
}

.about-cert-logos{
    /* display: grid; */
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 10px;
}

.about-cert-cover{
    border: 1px solid rgba(2, 2, 2, 0.731);
    padding: 40px 35px;
    border-radius: 50%;
}

@media screen and (max-width: 950px) {
    .about-certified h2{
        font-size: 41px;
    }

    .about-cert-logos img{
        width: 50px;
    }
}

@media screen and (max-width: 800px) {
    .about-certified-det{
        flex-direction: column;
        padding-bottom: -60px;
    }
}

@media screen and (max-width: 700px) {
    .about-certified{
        padding-top: 200px;
    }
}

@media screen and (max-width: 500px) {
    .about-certified h2{
        font-size: 38px;
    }
}


.quality-words{
    text-align: center;
    padding: 10px 20px;
    padding-bottom: 40px;
}

.quality-words h1{
    font-size: 200px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.quality-words h2{
    margin-top: 0px;
    text-transform: uppercase;
}

.quality-words p{
    max-width: 1180px;
    margin: 0px auto;
}

.quality-contain hr{
    margin-bottom: 0px;
}

.quality-cards{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    max-width: 1480px;
    margin: 0px auto;
    padding-bottom: 60px;
}

.quality-cards hr{
    /* height: 100px; */
    margin-top: -10px;
}

.quality-card{
    text-align: left;
    margin-left: -150px;
    /* border-left: 1px solid black;
    padding-left: 20px;
    margin-top: -10px;
    padding-top: 30px; */
}

@media screen and (max-width: 1220px) {
    .quality-card{
        margin-left: initial;
    }

    .quality-cards{
        flex-direction: column;
        gap: 20px;
        max-width: 800px;
        margin: 0px auto;
        padding: 0px 20px;
        /* border-top: 1px solid black; */
    }

    .quality-cards hr{
        display: none;
    }

    .quality-card {
        border-top: 1px solid black;
        padding-top: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .quality-words h1{
        font-size: 100px;
    }

    .quality-words h2{
        font-size: 40px;
    }

    
}

@media screen and (max-width: 800px) {
    .quality-words{
        text-align: left;
        /* padding: 10px 20px; */
    }

    .quality-words h1{
        font-size: 70px;
    }

    .quality-words h2{
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .quality-contain{
        padding-top: 40px;
    }
    .quality-cards{
        padding: 10px 20px;
    }
}

@media screen and (max-width: 500px) {
    .quality-words h1{
        font-size: 40px;
    }

    .quality-words h2{
        font-size: 25px;
    }
}


.quality-card h5{
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 0px;
}

.quality-card p{
    margin-top: 0px;
    padding-bottom: 10px;
}

.about-exp{
    background-color: rgba(9, 9, 9, 0.974);
    color: white;
    text-align: left;
}

.about-exp-cover{
    max-width: 1480px;
    margin: 0px auto;
    padding: 60px 20px;
    margin-top: -65px;
}

.about-exp-top h2{
    text-transform: uppercase;
}

.about-exp-top p{
    border-left: 2px solid white;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.824);
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.about-exp-bottom{
    display: flex;
    gap: 50px;
    margin-top: 140px;
    padding-bottom: 160px;
}


.about-exp-bottom img {
    width: 40%;
    flex: 1;
}



.about-exp-bot-left{
    flex: 1;
}

.quo{
    font-size: 70px;
}

.about-exp-bot-left{
    display: flex;
    flex-direction: column;
}

.about-exp-bot-left h3{
    font-size: 35px;
}

@media screen and (max-width: 1300px) {
    .about-exp-bottom img{
        width: 30%;
    }   

}

@media screen and (max-width: 1220px) {
    .about-exp-cover{
        margin-top: 0px;
    }
}

@media screen and (max-width: 1130px) {
    .about-exp-bot-left h3{
        font-size: 30px;
    }
}

@media screen and (max-width: 1000px) {
    .about-exp-bottom {
        flex-direction: column;
        padding-bottom: 0px;
    }

    .about-exp-bottom img{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about-exp-top h2{
        font-size: 40px;
    }

    .about-exp-top p{
        line-height: normal;
    }

    .about-exp-bot-left h3{
        font-size: 25px;
    }
}


.about-exp-bot-left button{
    border: none;
    padding: 20px 30px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 500;
    letter-spacing: 3px;
    max-width: fit-content;
    cursor: pointer;
    transition: .5s ease;
}

.about-exp-bot-left button:hover{
    background-color: red;
    color: white;
}