.contact-contain{
   
}

.contact-info{
    text-align: left;  
    padding: 10px 40px;
    max-width: 1480px;
    margin: 0px auto;
}

.contact-info h2{
    line-height: 50px;
    text-transform: uppercase;
}

.contact-info-bottom{
    display: flex;
    gap: 20px;
    margin-top: -10px;
    background-color: white;
    max-width: 1480px;
    margin: 0px auto;
    margin-bottom: 90px;
}

.contact-info-bottom .info{
    width: 33.33333%;
    padding: 25px 37px;
    text-transform: uppercase;
    padding-left: 0px;
}

.info-top{
    display: flex;
    align-items: center;
    gap: 20px;
}

.info-top h4{
    font-size: 16px;
    letter-spacing: 4px;
}

.info button{
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 20px 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.info button:hover{
    background-color: rgb(237, 2, 2);
    color: white;
}

@media screen and (max-width: 920px) {

    hr{
        display: none;
    }
    .contact-info-bottom .info{
        border-left: 1px solid black;
        padding: 0px 10px;
    } 
}

@media screen and (max-width: 770px) {
    .contact-info{
        padding-top: 100px;
    }
    .contact-info-bottom{
        flex-direction: column;
        align-items: left;
        gap: 30px;
    }

    hr{
        width: 100%;
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .contact-info h2{
        font-size: 30px;
    }
}

.contact-form{
    background-color: rgba(9, 9, 9, 0.936);
    color: rgba(255, 255, 255, 0.908);
    padding: 40px 20px;
    /* padding-bottom: 200px; */
    text-align: left;
}

.contact-form-contain h2{
    line-height: 50px;
    text-transform: uppercase;
    color: white;
}

.form-contain{
    max-width: 1480px;
    margin: 0px auto;  
    margin-top: 70px; 
    /* padding: 10px 40px; */
}
.contact-form-top{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}


.input-cover{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.input-cover input,
.contact-form-bottom textarea{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    margin-bottom: 100px;
    transition: .5s ease;
}

.input-cover input:hover,
.contact-form-bottom textarea:hover{
    border-bottom: 2px solid red;
}

@media screen and (max-width: 1000px) {
    .contact-form-contain h2{
        font-size: 35px;
    }
}

@media screen and  (max-width: 770px) {
    .contact-form-top{
        grid-template-columns: 1fr;
    }

    .contact-form-bottom{
        margin-top: 20px;
    }
}

.form-contain button{
    background-color: white;
    border: none;
    padding: 20px 35px;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: uppercase;
    transition: .6s ease;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
}

.form-contain button:hover{
    background-color: red;
    color: white;
}