.home{
    height: 90vh;
}
h2{
    font-size: 55px;
}

.home-top{
    background-image: url(../assets/backgroundmacchina.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px auto;
    height: 100%;
}

.home-contain{
    text-align: left;
    /* display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center; */
    height: 100%;
}

.home-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.home-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    height: 100%;
    padding: 10px 20px;
}

.home-left h2{
    font-size: 55px;
    text-align: left;
    margin-top: -70px;
    font-weight: 800;
    color: #171717;
}

.home-left button{
    max-width: fit-content;
    background-color: #171717;
    color: white;
    padding: 20px;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: .5s ease;
    letter-spacing: 4px;
}

.home-left button:hover{
    background-color: red;

}

.hero-bottom{
    /* background-color: white; */
    max-width: 1480px;
    margin: 0px auto;
}

@media screen and (max-width: 1020px) {
    .home-intro{
        flex-direction: column;
    }

    .home-left{
        max-width: 100%;
    }

    .home-left h2{
        line-height: 50px;
    }
}

@media screen and (max-width: 750px) {
    .home-left h2{
        font-size: 40px;
    }
}

.hero-bottom{
    display: flex;
    padding: 0px 20px;
    margin-top: -9px;
    text-align: left;
    margin-bottom: -9px;
}


.home-info{
    width: 33.33333%;
    padding: 25px 37px;
}

.home-info h4{
    margin-bottom: 2px;
}

.home-info p{
    margin-top: 2px;
}

@media screen and (max-width: 1020px) {
    .hero-bottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    hr{
        width: 100%;
    }
    
}


/* section 2 */
.home-section2{
    background-color: #171717;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
}

.section2-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1480px;
    margin: 0px auto;
    padding: 0px 30px;
    gap: 100px;
    padding-bottom: 500px;
}

.section2-left{
    flex: 1;
    text-align: left;
}

.section2-left h2{
    font-size: 45px;
}

.section2-left p{
    color: rgba(245, 245, 245, 0.936);
}

.section2-left-bottom{
    font-size: 16px;
    letter-spacing: 2px;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: fit-content;
}

.section2-right{
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section2-right h5{
    letter-spacing: 4px;
}

.cert-logo{
    /* display: grid; */
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 20px;
}

.cert-cover{
    border: 1px solid white;
    padding: 40px 35px;
    border-radius: 50%;
}

@media screen and (max-width: 1020px) {
    .section2-right{
        width: 100%;
        gap: 10px;
    }

    .section2-top{
        flex-direction: column;
        align-self: start;
    }

    .cert-logo{
        justify-content: left;
        gap: 40px;
    }
}

@media screen and (max-width: 750px) {
    .section2-left h2{
        font-size: 35px;
    }

    .section2-left div{
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 600px) {
    
    .cert-logo{
        /* flex-direction: column; */
        gap: 5px;
    }

    .cert-cover{
        padding: 20px 15px;
    }

    .cert-cover img{
        width: 40px;
    }
}

/* ferrari */
.ferrari{
    max-width: 1480px;
    /* padding: 0px 20px; */
    margin: 0px auto;
    position: relative;
}

.ferrari-cover{
    position: absolute;
    width: 90%;
    height: 60vh;
    max-width: 0px auto;
    background-image: url('../assets/ferrari.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateY(-50%) translateX(3%);
    padding: 50px 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* display: flex; */
}

.ferrari-cover-details{
    display: flex;
    align-items: end;
    justify-content: space-around;
    padding-bottom: 50px;
    gap: 100px;
    height: 100%;
    /* text-align: bottom; */
}

.ferrari-cover-det{
    color: white;
    text-align: left;
}

.ferrari-cover-det h4{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0px;
}

@media screen and (max-width: 800px) {
    .ferrari-cover{
        height: fit-content;
        transform: translateY(-50%) translateX(1%);    }
    
    .ferrari-cover-details{
        gap: 20px;
        flex-direction: column;
        text-align: left;
        align-items: baseline;
        padding: 10px 40px;
    }
}

@media screen and (max-width: 600px) {
    .ferrari-cover{
        max-width: 80%;
        transform: translateY(-50%) translateX(8%);
    }    
}

@media screen and (max-width: 480px) {
    .ferrari-cover{
        transform: translateY(-50%) translateX(5%);
    }
}

/* Services home */

.section3-contain{
    max-width: 1480px;
    margin: 0px auto;
    padding-top: 450px;
    padding-bottom: 150px;
    padding-left: 30px;
    padding-right: 30px;
}

.section3-contain h2{
    margin-bottom: 0px;
    text-align: left;
}

.section3-contain p{
    text-align: left;
    width: fit-content;
    border-bottom: 1px solid #171717;
}

.section3-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}


.grid-con{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px; */
    height: 100%;
}

.back-car{
    background-image: url('../assets/redbenz.webp');
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

@media screen and (max-width: 980px) {
    .back-car{
        background-attachment: scroll;
    }
}

.back-car-circle{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-car-circle h5{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 20px;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s ease;
    cursor: pointer;
    font-size: 20px;
    width: 230px;
    text-align: left;
}

.back-car-circle h5:hover{
    background-color: black;
}

.grid-inner{
    opacity: 0;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    /* padding: 50px 20px; */
}

.grid-con:hover .grid-inner{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.451);
}

.con1{
    background-image: url('../assets/service2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 50px 20px; */
}
.con2{
    background-image: url('../assets/service3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 50px 20px; */
}
.con3{
    background-image: url('../assets/service1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 50px 20px; */
}


.plus-cover{
    background-color: red;
    width: fit-content;
    padding: 20px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 100px;
}

.grid-contain h4{
    color: white;
    text-align: left;
    font-weight: 600;
    font-size: 23px;
    max-width: 90%; 
    margin: 0px auto;
    padding: 50px 20px;
}

.grid-contain p{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    border-bottom: none;
    letter-spacing: 3px;
    text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
    .grid-con{
        height: 80%;
    }

    /* .grid-contain{
        margin-top: 80px;
    } */

    .grid-contain h4{
        font-size: 18px;
    }
}



@media screen and (max-width: 730px) {
    .section3-grid{
        display: flex;
        flex-wrap: wrap;
    }

    .section3-contain{
        padding-top: 500px;
        padding-bottom: 50px;
    }
    .section3-contain h2{
        font-size: 40px;
    }
}

    /* @media screen and (max-width: 1020px) {
        .section3-grid{
            grid-template-columns: 1fr;
        }
    } */

.home-section4{

}

.section4-contain{
    max-width: 1480px;
    margin: 0px auto;
    padding: 30px 30px;
    padding-bottom: 40px;
}

.section4-top{
    padding-bottom: 60px;
}

.testimonal-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.card{
    border: 1px solid #17171771;
    border-radius: 2px;
    padding: 30px 40px;
    padding-bottom: 60px;
    text-align: left;
}

.card p{
    color: #171717a1;
}

@media screen and (max-width: 1020px) {
    .testimonal-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .section4-top h2{
        font-size: 35px;
    }
}

/* appiontment */

.home-section5{
    background-color: #171717;
    color: white;
}

.section5-contain{
    max-width: 1480px;
    margin: 0px auto;
    padding: 40px 30px;
}

.section5-top{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
}

.section5-top h2{
    text-align: left;
}

.section5-top h2 span{
    color: red;
}

.form-top, 
.form-middle{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.field{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 40px;
}


.field input,
.field textarea{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    transition: .5s ease;
}

.field input:hover,
.field textarea:hover{
    border-bottom: 1px solid red;
}

.form-desc{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-last{
    margin-bottom: 30px;
}

.form-time-cover{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.section5-top button{
    text-align: left;
    max-width: fit-content;
    padding: 15px 30px;
    background-color: white;
    border: none;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .8s ease;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

.section5-top button:hover {
    background-color: red;
    color: white;
}

@media screen and (max-width: 800px) {
    .form-top,
    .form-middle,
    .form-last{
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .form-time-cover{
        flex-direction: column;
    }

    .field{
        display: flex;
        flex-direction: column;
        width: 100%;   
    }

    .field label{
        margin-top: 60px;
    }   
}

@media screen and (max-width: 700px) {
    .section5-top h2{
        font-size: 40px;
        text-align: center;
        margin-bottom: 0px;
    }

    .form-top{
        margin-top: 0px;
    }
}



/* section6 */
.section6-contain{
    max-width: 1480px;
    margin: 0px auto;
}

.section6-top{
    padding: 60px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 770px) {
    .section6-top{
        flex-direction: column;
        align-items: start;
    }
}

.sec6-left{
    text-align: left;
}

.sec6-left h4{
    font-size: 30px;
}

.sec6-left h4{
    font-size: 30px;
    margin-bottom: 0px;
}

.sec6-left #h4{
    margin-top: 0px;
    border-bottom: 1px solid black;
}

.sec6-left ol{
    display: flex;
    gap: 15px;
    padding-left: 0px;
}

.sec6-left ol li{
    margin-right: 10px;
    list-style: none;
    font-size: 10px;
}

.sec6-right{
    display: flex;
    gap: 30px;
    text-align: left;
}

@media screen and (max-width: 700px) {
    .sec6-right{
        flex-direction: column;
    }   
}

.sec6-right h6{
    font-weight: 300;
    color: black;
}

.sec6-right h6 span{
    text-decoration: underline;
}

.section6-bottom{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    background-color: black;
    color: white;
}

.sec6bot-left h6{
    font-weight: 300;
}

.sec6bot-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.sec-link{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sec-link span{
    font-size: 10px;
}
@media screen and (max-width: 770px) {
    .section6-bottom{
        flex-direction: column;
        align-items: start;
    }   
}